.header{
    height: 95vh;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.5),
        rgba($color-primary-dark, 0.5)), 
    url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo {
        height: 3.5rem;

        
        &:hover{
            animation-name: spin;
            animation-duration: 1s;
            animation-timing-function: ease-out;
        }
    }
    
    &__text-box {
        @include absoluteCenter;
        text-align: center;
    }
}